.NewEntityForm {
    /* background-color: aqua; */
    height: 100%;
}

.NewEntityForm__title {
    font-size: var(--text-m);
    font-weight: var(--fontweight-medium);
    color: var(--primary);
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.NewEntityForm__switch {
    font-size: var(--text-s);
    margin-left: 18px;
    display: flex;
    align-items: center;
    height: 30px;
    transition: width 0.2s ease;
}

.NewEntityForm__select select {
    /* background-color: red; */
    color: var(--primary);
    box-shadow: var(--heavy-shadow);
    border: none;
    outline: none;
    font-size: var(--text-s);
    height: 30px;
    border-radius: var(--border-radius-l);
    padding: 0px 5px 0px 5px;
}

.NewEntityForm__url__label {
    margin-top: 30px;
    color: var(--light-gray);
    font-size: var(--text-xs);
    font-weight: var(--fontweight-medium);
    margin-left: 1px;
    margin-bottom: 5px;
}

.NewEntityForm__url__value {
    background-color: var(--highlight);
    font-weight: var(--fontweight-medium);
    color: var(--primary);
    font-size: 16px;
    padding-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-l);
}

.NewEntityForm__submitBtn {
    margin-top: 36px;
    margin-left: 1px;
    background-color: var(--primary);
    box-shadow: var(--heavy-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-xs);
    font-weight: var(--fontweight-medium);
    width: 100px;
    height: 34px;
    color: var(--entity-color);
    border-radius: var(--border-radius-l);
    cursor: pointer;
    transition: transform 0.3s ease;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.NewEntityForm__submitBtn:active {
    transform: translateY(4px);
}