.SideNav__wrapper {
    /* height: auto; */
    height: 100%;
    background-color: green;
    align-self: flex-start;
}

.SideNav {
    background-color: var(--entity-color);
    min-width: 350px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    box-sizing: border-box;
    box-shadow: var(--light-shadow);
    height: 100%;
}

.SideNav__title {
    /* margin-top: 15px; */
    font-size: var(--text-l);
    font-weight: var(--fontweight-bold);
    color: var(--primary);
}

.SideNav__fastTravel {
    box-shadow: var(--heavy-shadow);
    border-radius: var(--border-radius-l);
    margin-top: 40px;
    width: 100%;
    height: 54px;
    padding: 5px;
    box-sizing: border-box;

}

.SideNav__fastTravel input {
    font-size: var(--text-m);
    padding-left: 5px;
    width: 95%;
    height: 95%;
    border: none;
    outline: none;
}

.SideNav__viewSite {
    margin-top: 40px;
    font-size: var(--text-m);
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: var(--border-radius-l);
    color: var(--light-gray);
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
    text-decoration: none;
}

.SideNav__viewSite.Selected {
    background-color: var(--highlight);
    color: var(--primary);
}

.SideNav__viewSite__icon {
    display: flex;
    align-items: center;
    font-size: var(--text-l);
    transform: translateY(-1px); /* Something wrong with icon alignment, this is a small patch */
}

.SideNav__viewSite__label {
    margin-left: 15px;
    font-weight: var(--fontweight-medium);
}

.SideNav__viewSite:hover {
    color: var(--primary);
    background-color: var(--highlight);
}

.SideNav__sectionLabel {
    margin-top: 33px;
    margin-bottom: 13px;
    font-size: var(--text-s);
    font-weight: var(--fontweight-medium);
    color: #ddd;
}