@import '../../../App.css';

.BreadCrumb {
    margin-left: -2px;
    width: 1000px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.BreadCrumb__entry {
    font-size: var(--text-m);
    font-weight: 500;
    color: var(--primary);
    border-radius: 5px;
    padding: 0px 8px 0px 8px;
    height: 30px;
    display: flex;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-items: center;
}

.BreadCrumb__entry.BreadCrumb__entry__highlighted {
    background-color: #3A86FF0D;
}

.BreadCrumb__entry:hover {
    background-color: #3A86FF0D;
}

.BreadCrumb__rightIcon {
    color: #9999998a;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}