.textfield {
    margin-bottom: 16px;
}

.textfield input {
    width: 80%;
    height: 24px;
    margin-top: 4px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    /* background-color: green; */

}