.ContentWrapper {
    width: 80%;
    height: 100vh;
    float: right;
    overflow: auto;
    box-sizing: border-box;
    background: #F2F4F7;

}

@media all and (max-width: 1200px) {
    .ContentWrapper {
        width: 75%;
    }
}