.Switch {
    padding: 5px 10px;
    box-shadow: var(--heavy-shadow);
    border-radius: var(--border-radius-l);
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    min-width: 100px;
    display: flex;
    justify-content: center;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.Switch:hover {
    /* box-shadow: var(--heavy-shadow-blur); */
}

.Switch:active {
    /* min-width: 95px; */
    transform: translateY(4px);
    box-shadow: var(--light-shadow);
}

