.CharField {
    margin-top: 30px;
}

.CharField__label {
    color: var(--light-gray);
    font-size: var(--text-xs);
    font-weight: var(--fontweight-medium);
    margin-left: 1px;
    margin-bottom: 5px;
}

.CharField__input {
    border: 2px solid var(--very-light-gray);
    border-radius: var(--border-radius-l);
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--formfield-background);
    transition: border 0.1s linear;
}

.CharField__input.selected {
    border: 2px solid var(--primary);
}

.CharField__input input {
    font-size: 16px;
    border: none;
    outline: none;
    padding-left: 10px;
    width: 90%;
    background-color: transparent;
}