
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
/* .accordion__section {
  display: flex;
  flex-direction: column;
  width: 70%;
  transition: "width 0.2s ease";
  margin-top: 15px;
} */

.as__open {
  width: 90%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: white;
  border-radius: var(--border-radius-l);
  min-height: 30px;
  color: #444;
  cursor: pointer;
  padding: 0px 0px 0px 18px;
  display: flex;
  outline: none;
  transition: background-color 0.3s ease, color 0.1s ease;
  justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {

}

.active {
  background-color: #1098f7;
  color: white;
  /* box-shadow: 0px 0px 8px 4px #58788f21; */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  /* background-color: yellow; */
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  /* display: flex;
  justify-content: center; */
}

.accordion__control {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  /* float: right; */
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}


/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}