.PageGroup {
    /* background-color: white; */
    min-height: 500px;
    padding-top: 15px;
    /* padding-left: 15px; */
    /* padding-left: 15px; */
    /* height: 100%; */
}

.PageGroup__section {
    display: flex;
    margin-bottom: 10px;
    /* justify-content: space-between; */
}

.PageGroup__sectionLabel {
    font-size: var(--text-s);
    /* letter-spacing: -0.5px; */
    margin-bottom: 25px;
    margin-top: 40px;
    /* margin-left: 5px; */
    color: var(--light-gray);
    /* font-weight: var(--fontweight-m); */
    font-weight: 500;
    /* margin-left: 15px; */
}

.EntityIcon {
    margin-right: 30px;
    width: 300px;
    height: 60px;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-l);
    box-shadow: var(--light-shadow);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    background-color: var(--entity-color);
    color: var(--text-color-regular);
}

.EntityIcon:hover {
    box-shadow: var(--heavy-shadow);
}

.EntityIcon__icon__pageGroup {
    font-size: 30px;
    /* color: #506f85c7; */
    display: flex;
    /* background-color: teal; */
}

.EntityIcon__icon__page {
    font-size: 25px;
    /* color: #506f85c7; */
    display: flex;
    /* background-color: teal; */
}

.EntityIcon__label {
    margin-left: 10px;
    /* color: #293c49c7; */
    font-weight: 500;
    font-size: var(--text-m);
    /* background-color: yellowgreen; */
}