.CMSMain {
    background-color: var(--background-color);
    /* background-color: red; */
    height: 100vh;
    display: flex;
}

.CMSMain__ControlBtn:hover {
    box-shadow: var(--heavy-shadow-blur);
}

.MainArea {
    /* background-color: aqua; */
    /* background-color: tomato; */
    position: relative;
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    /* flex: 1 1 auto; */
}

.MainArea__contentWrapper {
    /* background-color: green; */
    width: 100%;
}