.SudoAccordion {
    width: 95%;
    border: 1px solid #3160D5;
    margin: 8px 0;
    overflow: hidden;
    text-decoration: none;
}

.SudoAccordion .SudoAccordionTab {
    width: 100%;
    background: #ffffff;
    color: #3160D5;
    font-size: 1.25em;
    padding: 8px 24px;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
}

.SudoAccordionTab:hover {
    background: #3160D5;
    color: #ffffff;
}

.SudoAccordion .SudoAccordionTab .SudoAccordionControl *:nth-of-type(1) {
    margin-right: 20px;
}