.ControlBar {
    background-color: var(--entity-color);
    box-shadow: var(--light-shadow);
    min-width: 80px;
    top: 0;
}

.ControlBar__modal {
    position: absolute;
    top: 20px;
    right: 100px;
    background-color: red;
}