.ControlBar {
    background-color: var(--entity-color);
    box-shadow: var(--light-shadow);
    min-width: 80px;
    /* position: fixed; */
    top: 0;
    /* float: right; */
    /* width: 100vw; */
    /* height: 100vh; */
}

.ControlBar__modal {
    position: absolute;
    top: 20px;
    right: 100px;
    background-color: red;
}