.FormSaveButton {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;
    height: 30px;
    cursor: pointer;
}

.AccordionAddBtn {
    color: #506f85c7;
    background-color: #506f852d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 20px;
    border-radius: 5px;
    height: 30px;
    margin: auto 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.AccordionAddBtn:hover {
    background-color: #506f8542;
}

.AccordionDeleteButton {
    background-color: #d62828;
    width: 100px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: white;
}