.SideBar {
    width: 20%;
    height: 100%;
    float: left;
    background: #ffffff;
    position: relative;
}

.SideBar .TitleName {
    width: 100%;
    height: 10%;
    font-size: 1.5em;
    color: #000000;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SideBar .UserProfile {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

.SideBar .UserProfile .UserIcon {
    width: 40px;
    margin-right: 12px;
}

.SideBar .UserProfile .UserName {
    font-size: 1rem;
    color: #343F44;
    font-weight: 700;
}

.SideBar .UserProfile .UserEmail {
    font-size: 0.9rem;
    color: #343F44;

}


@media all and (max-width: 1200px) {
    .SideBar {
        width: 25%;
    }
}