.LoginForm {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2B2B88;
}

.LoginForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm .MainTitle {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 40px;
}

.LoginForm .Logo {
    width: 150px;
    margin-bottom: 40px;
}

.LoginForm input[type=text], .LoginForm input[type=password] {
    font-size: 1.25em;
    width: 100%;
    color: #ffffff;
    outline: none;
    border: 2px solid #ffffff;
    background: transparent;
    padding: 10px 24px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.LoginForm input[type=submit] {
    font-size: 1.25em;
    width: 100%;
    border: none;
    outline: none;
    color: #262e70;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.25s;
    box-sizing: border-box;
    margin-top: 10px;
}